{% set map = {
    'Arch': {
        'client': 'ntp',
        'server': 'ntp',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
    'Debian': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntp',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
    'RedHat': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
    'Suse': {
        'client': 'ntp',
        'server': 'ntp',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
} %}


{% set ntp = { 
    'client': 'ntp',
    'server': 'ntpd',
    'service': 'ntpd',
    'ntpdate': 'ntpdate',
    'ntp_conf': '/etc/ntp.conf',
    'ntpd_conf': '/etc/ntpd.conf',
    'ntp_conf_source': 'salt://ntp/ntp-client.conf',
    'ntpd_conf_source': 'salt://ntp/ntp.conf',
    'servers': (
      'sac-corp-ops-adm-01.unix.newokl.com',
      'sac-corp-ops-adm-02.unix.newokl.com',
      ),
    'localnetworks': '',
    'peers': '',
  }
%}



{% do ntp.update(salt['pillar.get']('ntp:lookup', {})) -%}
