{% set map = {
    'Arch': {
        'client': 'ntp',
        'server': 'ntp',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',
        'ntp_conf': '/etc/ntp.conf',
    },
    'Debian': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntp',
        'ntpdate': 'ntpdate',
        'ntp_conf': '/etc/ntp.conf',
    },
    'RedHat': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',
        'ntp_conf': '/etc/ntp.conf',
    },
    'Suse': {
        'client': 'ntp',
        'server': 'ntp',
        'service': salt['grains.filter_by']({
            '11.3': 'ntp',
            '11.4': 'ntp',
            'default': 'ntpd',
        }, grain='osrelease'),
        'ntpdate': 'ntpdate',
        'ntp_conf': '/etc/ntp.conf',
    },
} %}


{% set ntp = { 
    'client': 'ntp',
    'server': 'ntpd',
    'service': 'ntpd',
    'ntpdate': 'ntpdate',
    'ntp_conf': '/etc/ntp.conf',
    'ntp_conf_source': 'salt://ntp/ntp.conf.jinja',
    'servers': (
      '0.pool.ntp.org',
      '1.pool.ntp.org',
      ),
    'localnetworks': '',
    'peers': '',
  }
%}



{% do ntp.update(salt['pillar.get']('ntp:lookup', {})) -%}
